@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.product-page {
    display: flex;
    gap: 50px
}

.img-grid {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 0;
    flex-wrap: nowrap;
    flex: 1 0;


}

.product-img {
    flex-shrink: 0 !important;
    height: "fit-content";
    border-radius: 20px;
    width: 100%;

    display: inline;
}

.product-info {
    flex-shrink: 0 !important;
    cursor: default;
    height: "fit-content";
    border-radius: 20px;
    width: 100%;
    flex-shrink: 0;
    display: inline;
    max-height: 540px;
    margin-bottom: 20px;
}

.info-grid {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin-top: 40px;
    margin-right: 40px;

}

.rate {
    opacity: 0.6;
    font-size: 12px;
    position: relative;
    left: 5px;
}

.prod-name {

    font-size: 34px;
    font-weight: 600;
    padding-bottom: 3px;
    font-family: "Poppins";
}

.prod-des {
    padding-top: 20px;
    font: "Open Sans";
    line-height: 23px;
    font-size: 19px;
    min-width: 510px;
    max-width: 650px;
}

.prod-det {
    margin-top: 20px;
    display: flex;
    gap: 120px
}

.list {
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 20px;
    cursor: default;
}

.ques {
    opacity: 0.5;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    margin-bottom: 15px;
}

.ans {
    position: relative;
    left: 20px
}

.er {
    margin-left: -25px;
}

.size {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
    width: 20px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid rgb(0, 0, 0, 0.6);

}

.size:hover {
    border: 1px solid rgb(0, 0, 0, 0.4);
    background-color: rgb(244, 244, 244);
    cursor: default;
}

.size-txt {
    display: inline-block;
    margin-left: 4px;
}

.btn-grid2 {
    display: flex;
    margin-top: 30px;
    width: 710px;
    height: 90px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 15px;
    gap: 70px;

}

.prod-price {

    font-size: 34px;
    font-weight: 500;
    font-family: "Poppins";
    margin-left: 35px;
    max-width: 140px;
    min-width: 140px;
}

.sizebox {
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    user-select: none;
}

.size-btn {
    display: flex;
    margin: auto;
    padding-top: 8px;
    padding-left: 12px;
}

.dd-btn {
    position: relative;
    left: 6px;
    top: 3px;
}

.size-list {
    user-select: none;
    width: 70px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    left: 246px;
    bottom: 35px;
    z-index: 2;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

.itms {
    width: 60px;
    height: 25px;
    padding-left: 10px;
    padding-top: 5px;
    z-index: 1;
}

.itms:hover {
    background-color: rgb(244, 244, 244);
}

ol {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.sym {
    display: inline-block;
    position: relative;
    top: 7px;
    margin-left: 3px;
    z-index: 2;
    min-width: 30px;
    max-width: 30px;

}

.cl {
    filter: invert(99%) sepia(96%) saturate(3%) hue-rotate(72deg) brightness(104%) contrast(100%);
}

.cart-btn {
    height: 42px;
    width: 140px;
    border-radius: 10px;
    border: 1px solid #46760A;
    background-color: #6A983C;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 17px;
    font-family: "Poppins";
    z-index: 2;
}

.cart-btn:hover {
    background-color: #46760A;
}

.qtxt {
    border: 0px;
    font-size: 17px;
    padding: 3px;
    outline: none;
    width: 25px;

}

.qtxt:focus {
    font-size: 12px;
}

.qbox {
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    user-select: none;
}

.quan-list {
    user-select: none;
    width: 90px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    left: 388px;
    bottom: 35px;
    z-index: 100;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.qitms {
    width: 75px;
    height: 25px;
    padding-left: 15px;
    padding-top: 5px;

}

.qitms:hover {
    background-color: rgb(244, 244, 244);
}

.pannel {
    display: flex;
    gap: 210px;
    z-index: 0;
    margin-top: 30px;
}

.pannel-itms {
    font-size: 20px;
    font-weight: 600;
    min-width: 120px;
    user-select: none;
    font-family: 'Poppins';
    text-decoration: none;
}

.line2 {
    display: inline-block;
    width: 0px;
    height: 5px;
    background-color: #6A983C;
    border: none;
    border-radius: 5px;
    animation-name: lineani;
    animation-duration: 200ms;
    animation-fill-mode: both;
    z-index: 4;
    animation-direction: normal;
    animation-timing-function: ease-in;
}

@keyframes lineani {
    25% {
        width: 30px;
    }

    50% {
        width: 60px;
    }

    75% {
        width: 90px;
    }

    100% {
        width: 120px;
    }
}

.disbox {
    width: 800px;
}

table,
th,
tr,
td {
    border: 1px solid black;
}

.sizetable {
    border-collapse: collapse;
    width: 600px;
    height: 200px;
    text-align: center;
}

.review-card {
    height: 270px;
    width: 750px;

}
.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

.table th, .sizetable td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}


@media screen and (max-width: 1422px) {
    .prod-des {
        font-size: 15px;
        line-height: 19px;
    }

    .prod-name {
        font-size: 20px;
    }

    .product-img {
        height: 350px;
        width: 500px;
        padding-left: 4%;
    }

    .prod-det {
        font-size: 14px;
    }

    .ques {
        width: 100px;

    }

    .size {
        height: 13px;
        width: 15px;
    }

    .size-txt {
        position: relative;
        right: 3px;
        bottom: 1px;
    }

    .pannel {
        margin-top: 10px;
    }

    .quan-list {
        left: 389px;
    }

    .size-list {
        left: 247px;
    }
}

.dropdown-content {
    background-color: "#f5f5f5";
    padding-left: "3px";
    font-size: "16px";
    font-weight: "500";
    z-index: "100";
    position: "relative";
    bottom: "5px";
    border: "2px solid rgba(0, 0, 0, 0.2)";
    border-radius: "0px 0 5px 5px";
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}