.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 303px;
    width: 230px;
    border-radius: 10px;
    margin: auto;

}

.image {
    margin: auto;
    width: 200px;
    height: 160px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
}

.card:hover {
    background-color: #f4f4f4;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 5px;
}

.des {
    font-size: 12px;
    margin-left: 17px;
    margin-top: 2px;
    opacity: 0.7;
}

.btm {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 10px;

}

.rating-number {
    font-size: 11px;
    position: relative;
    opacity: 0.7;
    top: 0px;
    left: 6px;
}

.price {
    font-size: 24px;
}

.add-btn {

    height: 34px;
    width: 83px;
    background-color: #6A983C;
    color: #ededed;
    border: 2px solid #46760A;
    border-radius: 10px;
    user-select: none;
    margin-right: 6px;
}

.txt {
    display: inline-block;
    margin: auto;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #ededed;

}

.vis {
    display: block;
}

.inv {
    display: none;
}

.add-btn:hover {
    background-color: #46760A;
    cursor: default;
}

.btn-grid {
    display: flex;
    justify-content: space-evenly;
}

.txt3 {
    font-size: 20px;
    position: relative;
    top: 3px;
    left: 2px;
}

.txt2 {

    font-size: 26px;
    position: relative;
    bottom: 2px;
}

.txt2:hover {
    color: #cae9aa;

}

.item-grid {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 28px;
    margin-left: 2%;
    margin-right: 18px;
    margin-bottom: 40px;
    
    flex-shrink: 0;
    align-items: center;
}

.rating {
    position: relative;
    left: 15px;
    top: 5px;
}

.grid-title {
    margin-left: 60px;
    font-size: 26px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    width: fit-content;

}

@media screen and (max-width: 860px) {
    .item-grid {
        flex-wrap: wrap;

    }

    .grid-title {
        margin-left: 20px;
    }
}

@media screen and (max-width: 450px) {
    .item-grid {
        margin-left: 90px;

    }

}